<div class="row "  >
    <div class="col-lg-6" style="margin-bottom: 5%">
        <p-galleria [images]="images" panelWidth="500" panelHeight="200" [showCaption]="true" [autoPlay]="true" (onImageClicked)="onImageClicked($event)"></p-galleria>
    </div>
    <div class="col-lg-6" style="margin-bottom: 5%">
        <p-galleria [images]="images1" panelWidth="500" panelHeight="200" [showCaption]="true" [autoPlay]="true" (onImageClicked)="onImageClicked($event)"></p-galleria>
    </div>
    <div class="col-lg-6"style="margin-bottom: 5%">
            <p-galleria [images]="images" panelWidth="500" panelHeight="200" [showCaption]="true" [autoPlay]="true" (onImageClicked)="onImageClicked($event)"></p-galleria>
    </div>
    <div class="col-lg-6"style="margin-bottom: 5%">
            <p-galleria [images]="images1" panelWidth="500" panelHeight="200" [showCaption]="true" [autoPlay]="true" (onImageClicked)="onImageClicked($event)"></p-galleria>
    </div>
    <div class="col-lg-6"style="margin-bottom: 5%">
            <p-galleria [images]="images" panelWidth="500" panelHeight="200" [showCaption]="true" [autoPlay]="true" (onImageClicked)="onImageClicked($event)"></p-galleria>
    </div>
</div>


